[Unit]
Description=flic daemon
After=rc-local.service

[Service]
Type=simple
User=root
ExecStart=/home/pi/flicd -f /home/pi/flic.sqlite3

[Install]
WantedBy=multi-user.target
